!!! XML
<!DOCTYPE en-note SYSTEM "http://xml.evernote.com/pub/enml2.dtd">
- base_font              = "font-family:Verdana;font-size:12px;"
- heading_font           = "font-family:Georgia,Times;"
- title_style            = heading_font
- section_style          = "#{heading_font};text-transform: uppercase;font-size:14px;"
- ingredient_group_style = "font-weight:bold;padding-left:10px;"
- quantity_style         = "#{base_font}font-weight:bold;" +
-                          "text-align:right;vertical-align:top;padding-right:1em;" +
-                          "padding-left:1em;white-space:nowrap;"
- ingredient_style       = base_font
- footer_style           = "margin:4px;"
%en-note{style: base_font}
  %h1{style: title_style}&= @name
  %p&= @summary
  %div
    - if @image
      %div{style: "float:right;padding-right:2em;"}
        %en-media{type: "image/jpeg", hash: Digest::MD5.hexdigest(@image)}/
    %h3{style: section_style} Ingredients
    %table{style: "margin-left:10px;"}
      - @ingredients.each do |i|
        - if i.group?
          %tr
            %td{colspan: 2, style: ingredient_group_style}&= i
          - i.ingredients.each do |ii|
            %tr
              %td{style: quantity_style}&= ii.quantity
              %td{style: ingredient_style}&= ii.without_quantity
        - else
          %tr
            %td{style: quantity_style}&= i.quantity
            %td{style: ingredient_style}&= i.without_quantity
    %div{style: "clear:both;"}
  %h3{style: section_style} Directions
  %ol
    - @directions.each do |d|
      %li
        - if d.label.present?
          %span{style: "font-weight:bold;"}&= d.label + ": "
        &= d.description
  - if @notes.present?
    %h3{style: section_style} Notes
    %ul
      - @notes.each do |n|
        %li&= n
  %hr/
  - if @source.present?
    %p{style: footer_style}
      Source:
      - if @url.present?
        %a{href: @url}&= @source
      - else
        &= @source
  %p{style: footer_style}
    Yield:
    - if @yield.present?
      &= @yield
      &= " / " if @servings > 0
    - if @servings > 0
      &= "#{@servings} servings"
