!!! XML
<!DOCTYPE en-note SYSTEM "http://xml.evernote.com/pub/enml2.dtd">
%en-note{style: "font-family:Papyrus;font-size:larger;"}
  %h1&= @name
  %p&= @summary
  %div
    - if @image
      %div{style: "float:right;padding-right:2em;"}
        %en-media{type: "image/jpeg", hash: Digest::MD5.hexdigest(@image)}/
    %h3 INGREDIENTS
    %table
      - @ingredients.each do |i|
        - if i.group?
          %tr
            %td{colspan: 2, style: "font-weight:bold;font-style:italic;"}&= i
          - i.ingredients.each do |ii|
            %tr
              %td{style: "font-weight:bold;text-align:right;padding-right:1em;padding-left:1em;"}&= ii.quantity
              %td&= ii.without_quantity
        - else
          %tr
            %td{style: "font-weight:bold;text-align:right;padding-right:1em;padding-left:1em;"}&= i.quantity
            %td&= i.without_quantity
    %div{style: "clear:both;"}
  %h3 METHOD
  %ol
    - @directions.each do |d|
      %li&= d
  %h3 NOTES
  %ul
    - @notes.each do |n|
      %li&= n
